In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
#load sales data from 2023 and 2024
sales_2023_df = pd.read_csv("../data/raw/veronicas_sales_2023.csv")
sales_2024_df = pd.read_csv("../data/raw/veronicas_sales_2024.csv")

In [4]:
display(sales_2023_df)
display(sales_2024_df)

,Sales,01/01/2023,01/02/2023,01/03/2023,01/04/2023,01/05/2023,01/06/2023,01/07/2023,01/08/2023,01/09/2023,...,12/23/2023,12/24/2023,12/25/2023,12/26/2023,12/27/2023,12/28/2023,12/29/2023,12/30/2023,12/31/2023,01/01/2024
0,Gross Sales,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,"$2,830.65","$2,169.42","$3,429.08","$4,056.12","$5,351.10","$4,487.15",$0.00
1,Items,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,"$2,830.65","$2,169.42","$3,429.08","$4,056.12","$5,351.10","$4,487.15",$0.00
2,Service Charges,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
3,Returns,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,-$7.00,$0.00
4,Discounts & Comps,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,-$256.99,-$14.52,-$53.75,-$64.76,-$90.14,-$63.64,$0.00
5,Net Sales,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,"$2,573.66","$2,154.90","$3,375.33","$3,991.36","$5,260.96","$4,416.51",$0.00
6,Gift Card Sales,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$80.00,$0.00,$45.00,$0.00,$0.00,$0.00,$0.00
7,Tax,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$231.97,$214.80,$334.17,$375.62,$503.73,$422.16,$0.00
8,Tip,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$198.20,$155.18,$216.26,$277.01,$353.31,$306.35,$0.00
9,Refunds by Amount,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
10,Cash Rounding,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.06,$0.08,-$0.02,-$0.03,-$0.02,$0.12,$0.00
11,Total,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,"$3,083.89","$2,524.96","$3,970.74","$4,643.96","$6,117.98","$5,145.14",$0.00
12,Payments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Total Collected,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,"$3,083.89","$2,524.96","$3,970.74","$4,643.96","$6,117.98","$5,145.14",$0.00
14,Cash,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$330.25,$255.15,$223.45,$504.50,$532.95,$439.55,$0.00
15,Card,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,"$2,699.74","$2,244.81","$3,735.90","$4,104.46","$5,560.95","$4,656.76",$0.00
16,Other,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
17,Gift Card,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$53.90,$25.00,$11.39,$35.00,$24.08,$48.83,$0.00
18,Fees,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,-$54.65,-$45.30,-$71.03,-$80.87,-$107.91,-$90.23,$0.00
19,Net Total,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,"$3,029.24","$2,479.66","$3,899.71","$4,563.09","$6,010.07","$5,054.91",$0.00

,Sales,01/01/2024,01/02/2024,01/03/2024,01/04/2024,01/05/2024,01/06/2024,01/07/2024,01/08/2024,01/09/2024,...,12/23/2024,12/24/2024,12/25/2024,12/26/2024,12/27/2024,12/28/2024,12/29/2024,12/30/2024,12/31/2024,01/01/2025
0,Gross Sales,"$2,139.77","$2,159.67","$2,229.84","$3,444.19","$3,268.03","$4,754.13","$3,211.23","$2,206.78","$1,767.73",...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
1,Items,"$2,139.77","$2,159.67","$2,229.84","$3,444.19","$3,268.03","$4,754.13","$3,211.23","$2,206.78","$1,767.73",...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
2,Service Charges,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
3,Returns,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
4,Discounts & Comps,-$13.50,-$4.53,-$17.35,-$21.28,-$35.81,-$39.17,-$33.37,-$65.25,-$45.70,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
5,Net Sales,"$2,126.27","$2,155.14","$2,212.49","$3,422.91","$3,232.22","$4,714.96","$3,177.86","$2,141.53","$1,722.03",...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
6,Gift Card Sales,$0.00,$0.00,$0.00,$40.00,$0.00,$0.00,$0.00,$0.00,$25.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
7,Tax,$220.96,$205.10,$203.32,$263.61,$285.66,$479.80,$312.82,$223.04,$178.53,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
8,Tip,$216.90,$161.16,$138.43,$193.84,$210.42,$348.61,$228.06,$152.93,$103.68,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
9,Refunds by Amount,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
10,Cash Rounding,$0.02,$0.00,$0.05,$0.03,$0.06,$0.09,$0.07,$0.07,$0.05,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
11,Total,"$2,564.15","$2,521.40","$2,554.29","$3,920.39","$3,728.36","$5,543.46","$3,718.81","$2,517.57","$2,029.29",...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
12,Payments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Total Collected,"$2,564.15","$2,521.40","$2,554.29","$3,920.39","$3,728.36","$5,543.46","$3,718.81","$2,517.57","$2,029.29",...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
14,Cash,$235.05,$248.75,$417.90,$282.55,$204.30,$623.70,$262.65,$276.20,$231.20,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
15,Card,"$2,227.37","$2,222.93","$2,120.76","$3,525.04","$3,464.87","$4,834.14","$3,393.39","$2,157.37","$1,798.09",...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
16,Other,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
17,Gift Card,$101.73,$49.72,$15.63,$112.80,$59.19,$85.62,$62.77,$84.00,$0.00,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
18,Fees,-$41.85,-$45.27,-$44.18,-$76.68,-$72.09,-$98.30,-$67.90,-$43.89,-$33.24,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
19,Net Total,"$2,522.30","$2,476.13","$2,510.11","$3,843.71","$3,656.27","$5,445.16","$3,650.91","$2,473.68","$1,996.05",...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00

In [5]:
# Transpose the datasets to have dates as rows and metrics as columns
# Function to clean and transform sales data
def clean_sales_data(df):
    # Set the first column as the index for transposition
    df = df.set_index('Sales').T
    
    # Reset index and rename it to 'Date'
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'Date'}, inplace=True)
    
    # Convert monetary values to numerical by removing '$' and commas, then converting to float
    for col in df.columns[1:]:
        df[col] = df[col].replace(r'[\$,]', '', regex=True).astype(float)
    
    return df

In [6]:
# Clean both 2023 and 2024 sales datasets
cleaned_sales_2023 = clean_sales_data(sales_2023_df)
cleaned_sales_2024 = clean_sales_data(sales_2024_df)

/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_78683/34561075.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace(r'[\$,]', '', regex=True).astype(float)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_78683/34561075.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace(r'[\$,]', '', regex=True).astype(float)

In [7]:
display(cleaned_sales_2023)

Sales,Date,Gross Sales,Items,Service Charges,Returns,Discounts & Comps,Net Sales,Gift Card Sales,Tax,Tip,...,Cash Rounding,Total,Payments,Total Collected,Cash,Card,Other,Gift Card,Fees,Net Total
0,01/01/2023,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
1,01/02/2023,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
2,01/03/2023,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
3,01/04/2023,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
4,01/05/2023,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,12/28/2023,3429.08,3429.08,0.0,0.0,-53.75,3375.33,45.0,334.17,216.26,...,-0.02,3970.74,NaN,3970.74,223.45,3735.90,0.0,11.39,-71.03,3899.71
362,12/29/2023,4056.12,4056.12,0.0,0.0,-64.76,3991.36,0.0,375.62,277.01,...,-0.03,4643.96,NaN,4643.96,504.50,4104.46,0.0,35.00,-80.87,4563.09
363,12/30/2023,5351.10,5351.10,0.0,0.0,-90.14,5260.96,0.0,503.73,353.31,...,-0.02,6117.98,NaN,6117.98,532.95,5560.95,0.0,24.08,-107.91,6010.07
364,12/31/2023,4487.15,4487.15,0.0,-7.0,-63.64,4416.51,0.0,422.16,306.35,...,0.12,5145.14,NaN,5145.14,439.55,4656.76,0.0,48.83,-90.23,5054.91
365,01/01/2024,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00

In [8]:
display(cleaned_sales_2024)

Sales,Date,Gross Sales,Items,Service Charges,Returns,Discounts & Comps,Net Sales,Gift Card Sales,Tax,Tip,...,Cash Rounding,Total,Payments,Total Collected,Cash,Card,Other,Gift Card,Fees,Net Total
0,01/01/2024,2139.77,2139.77,0.0,0.0,-13.50,2126.27,0.0,220.96,216.90,...,0.02,2564.15,NaN,2564.15,235.05,2227.37,0.0,101.73,-41.85,2522.30
1,01/02/2024,2159.67,2159.67,0.0,0.0,-4.53,2155.14,0.0,205.10,161.16,...,0.00,2521.40,NaN,2521.40,248.75,2222.93,0.0,49.72,-45.27,2476.13
2,01/03/2024,2229.84,2229.84,0.0,0.0,-17.35,2212.49,0.0,203.32,138.43,...,0.05,2554.29,NaN,2554.29,417.90,2120.76,0.0,15.63,-44.18,2510.11
3,01/04/2024,3444.19,3444.19,0.0,0.0,-21.28,3422.91,40.0,263.61,193.84,...,0.03,3920.39,NaN,3920.39,282.55,3525.04,0.0,112.80,-76.68,3843.71
4,01/05/2024,3268.03,3268.03,0.0,0.0,-35.81,3232.22,0.0,285.66,210.42,...,0.06,3728.36,NaN,3728.36,204.30,3464.87,0.0,59.19,-72.09,3656.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,12/28/2024,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
363,12/29/2024,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
364,12/30/2024,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
365,12/31/2024,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00
366,01/01/2025,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00

In [9]:
#merge the 2 datasets
merged_sales_df = pd.concat([cleaned_sales_2023, cleaned_sales_2024], ignore_index=True)

In [10]:
display(merged_sales_df)

Sales,Date,Gross Sales,Items,Service Charges,Returns,Discounts & Comps,Net Sales,Gift Card Sales,Tax,Tip,...,Cash Rounding,Total,Payments,Total Collected,Cash,Card,Other,Gift Card,Fees,Net Total
0,01/01/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01/02/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01/03/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01/04/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01/05/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,12/28/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,12/29/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,12/30/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,12/31/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,01/01/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
#checking data types
merged_sales_df.dtypes

Sales
Date                  object
Gross Sales          float64
Items                float64
Service Charges      float64
Returns              float64
Discounts & Comps    float64
Net Sales            float64
Gift Card Sales      float64
Tax                  float64
Tip                  float64
Refunds by Amount    float64
Cash Rounding        float64
Total                float64
Payments             float64
Total Collected      float64
Cash                 float64
Card                 float64
Other                float64
Gift Card            float64
Fees                 float64
Net Total            float64
dtype: object

In [12]:
#checking null values
merged_sales_df.isna().sum()

Sales
Date                   0
Gross Sales            0
Items                  0
Service Charges        0
Returns                0
Discounts & Comps      0
Net Sales              0
Gift Card Sales        0
Tax                    0
Tip                    0
Refunds by Amount      0
Cash Rounding          0
Total                  0
Payments             733
Total Collected        0
Cash                   0
Card                   0
Other                  0
Gift Card              0
Fees                   0
Net Total              0
dtype: int64

In [13]:
#dropping irrelevant columns
merged_sales_df.drop(columns=['Payments'], inplace=True)
display(merged_sales_df)

Sales,Date,Gross Sales,Items,Service Charges,Returns,Discounts & Comps,Net Sales,Gift Card Sales,Tax,Tip,Refunds by Amount,Cash Rounding,Total,Total Collected,Cash,Card,Other,Gift Card,Fees,Net Total
0,01/01/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01/02/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01/03/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01/04/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01/05/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,12/28/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,12/29/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,12/30/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,12/31/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,01/01/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
#dropping irrelevant columns
merged_sales_df.drop(columns=['Cash Rounding', 'Items'], inplace=True)
display(merged_sales_df)

Sales,Date,Gross Sales,Service Charges,Returns,Discounts & Comps,Net Sales,Gift Card Sales,Tax,Tip,Refunds by Amount,Total,Total Collected,Cash,Card,Other,Gift Card,Fees,Net Total
0,01/01/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01/02/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01/03/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01/04/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01/05/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,12/28/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,12/29/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,12/30/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,12/31/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,01/01/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#checking for duplicate rows
duplicates = merged_sales_df.duplicated().sum()
if duplicates > 0:
    print(f"\nThere are {duplicates} duplicate rows in the DataFrame.")
else:
    print("\nNo duplicate rows found in the DataFrame.")

No duplicate rows found in the DataFrame.

In [16]:
merged_sales_df['Other'].unique()

array([0.])

In [17]:
#dropping irrelevant columns
merged_sales_df.drop(columns = ['Other'], inplace = True)

In [18]:
display(merged_sales_df)

Sales,Date,Gross Sales,Service Charges,Returns,Discounts & Comps,Net Sales,Gift Card Sales,Tax,Tip,Refunds by Amount,Total,Total Collected,Cash,Card,Gift Card,Fees,Net Total
0,01/01/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01/02/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01/03/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01/04/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01/05/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,12/28/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,12/29/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,12/30/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,12/31/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,01/01/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Function to convert column names to snake case and avoid double underscores
def to_snake_case(column_name):
    column_name = re.sub(r'([A-Z])', r'_\1', column_name)    # Insert underscores before uppercase letters
    column_name = re.sub(r'\s+', '_', column_name)           # Replace spaces with underscores
    column_name = re.sub(r'[^a-zA-Z0-9_]', '', column_name)  # Remove special characters
    column_name = re.sub(r'_+', '_', column_name)            # Replace multiple underscores with a single underscore
    column_name = column_name.lower().strip('_')             # Convert to lowercase and strip leading/trailing underscores
    return column_name

In [20]:
# Apply the function to all column names
merged_sales_df.columns = [to_snake_case(col) for col in merged_sales_df.columns]

# Display updated column names
merged_sales_df.columns

Index(['date', 'gross_sales', 'service_charges', 'returns', 'discounts_comps',
       'net_sales', 'gift_card_sales', 'tax', 'tip', 'refunds_by_amount',
       'total', 'total_collected', 'cash', 'card', 'gift_card', 'fees',
       'net_total'],
      dtype='object')

In [21]:
display(merged_sales_df)

,date,gross_sales,service_charges,returns,discounts_comps,net_sales,gift_card_sales,tax,tip,refunds_by_amount,total,total_collected,cash,card,gift_card,fees,net_total
0,01/01/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01/02/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01/03/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01/04/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01/05/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,12/28/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,12/29/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,12/30/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,12/31/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,01/01/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
#function to format date column to '%Y-%m-%d'
def format_date_column(df, column_name, date_format='%Y-%m-%d'):
    """
    Converts a specified date column in a DataFrame to a given date format.
    
    Parameters:
    - df (pd.DataFrame): The DataFrame containing the date column.
    - column_name (str): The name of the date column to format.
    - date_format (str): The desired date format (default is '%Y-%m-%d').
    
    Returns:
    - pd.DataFrame: The DataFrame with the formatted date column.
    """
    # Ensure the column exists
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' not found in DataFrame.")
    
    # Convert the column to datetime format (if not already)
    df[column_name] = pd.to_datetime(df[column_name], errors='coerce')
    
    # Apply the specified date format using strftime
    df[column_name] = df[column_name].dt.strftime(date_format)
    
    return df

In [23]:
#applying the date formatting
merged_sales_df = format_date_column(merged_sales_df, 'date', '%Y-%m-%d')

In [24]:
display(merged_sales_df)

,date,gross_sales,service_charges,returns,discounts_comps,net_sales,gift_card_sales,tax,tip,refunds_by_amount,total,total_collected,cash,card,gift_card,fees,net_total
0,2023-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,2024-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,2024-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,2024-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,2024-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,2025-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# Add a new column 'day' with the corresponding day of the week based on the 'date' column
merged_sales_df['day'] = pd.to_datetime(merged_sales_df['date']).dt.day_name()

In [26]:
display(merged_sales_df)

,date,gross_sales,service_charges,returns,discounts_comps,net_sales,gift_card_sales,tax,tip,refunds_by_amount,total,total_collected,cash,card,gift_card,fees,net_total,day
0,2023-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Sunday
1,2023-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Monday
2,2023-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tuesday
3,2023-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Wednesday
4,2023-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,2024-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Saturday
729,2024-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Sunday
730,2024-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Monday
731,2024-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tuesday
732,2025-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Wednesday

In [27]:
# Move the 'day' column to be immediately after the 'date' column
columns = merged_sales_df.columns.tolist()
columns.insert(1, columns.pop(columns.index('day')))
merged_sales_df = merged_sales_df[columns]

In [28]:
display(merged_sales_df)

,date,day,gross_sales,service_charges,returns,discounts_comps,net_sales,gift_card_sales,tax,tip,refunds_by_amount,total,total_collected,cash,card,gift_card,fees,net_total
0,2023-01-01,Sunday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-02,Monday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-03,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-04,Wednesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-05,Thursday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,2024-12-28,Saturday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,2024-12-29,Sunday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,2024-12-30,Monday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,2024-12-31,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,2025-01-01,Wednesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
#check for duplicate rows
duplicates = merged_sales_df.duplicated().sum()
if duplicates > 0:
    print(f"\nThere are {duplicates} duplicate rows in the DataFrame.")
else:
    print("\nNo duplicate rows found in the DataFrame.")

No duplicate rows found in the DataFrame.

In [30]:
#checking for unique values for the 'date' column
merged_sales_df['date'].value_counts()

date
2024-01-01    2
2024-04-26    1
2024-04-28    1
2024-04-29    1
2024-04-30    1
             ..
2023-09-03    1
2023-09-04    1
2023-09-05    1
2023-09-06    1
2025-01-01    1
Name: count, Length: 732, dtype: int64

In [31]:
# Identify rows with the date '2024-01-01' and no sales recorded
mask = (merged_sales_df['date'] == '2024-01-01') & (merged_sales_df['gross_sales'] == 0.0)

# Drop rows that match the mask
merged_sales_df = merged_sales_df[~mask]

# Display rows with the date '2024-01-01' to confirm the change
merged_sales_df[merged_sales_df['date'] == '2024-01-01']

,date,day,gross_sales,service_charges,returns,discounts_comps,net_sales,gift_card_sales,tax,tip,refunds_by_amount,total,total_collected,cash,card,gift_card,fees,net_total
366,2024-01-01,Monday,2139.77,0.0,0.0,-13.5,2126.27,0.0,220.96,216.9,0.0,2564.15,2564.15,235.05,2227.37,101.73,-41.85,2522.3

In [32]:
display(merged_sales_df)

,date,day,gross_sales,service_charges,returns,discounts_comps,net_sales,gift_card_sales,tax,tip,refunds_by_amount,total,total_collected,cash,card,gift_card,fees,net_total
0,2023-01-01,Sunday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-02,Monday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-03,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-04,Wednesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-05,Thursday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,2024-12-28,Saturday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,2024-12-29,Sunday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,2024-12-30,Monday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731,2024-12-31,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,2025-01-01,Wednesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# Add a binary 'store_open' column: 1 if 'Gross Sales' is greater than 0, otherwise 0
merged_sales_df.loc[:, 'is_store_open'] = merged_sales_df['gross_sales'].apply(lambda x: 1 if x > 0 else 0)

# Display the updated DataFrame
merged_sales_df

,date,day,gross_sales,service_charges,returns,discounts_comps,net_sales,gift_card_sales,tax,tip,refunds_by_amount,total,total_collected,cash,card,gift_card,fees,net_total,is_store_open
0,2023-01-01,Sunday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2023-01-02,Monday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2023-01-03,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2023-01-04,Wednesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2023-01-05,Thursday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,2024-12-28,Saturday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
729,2024-12-29,Sunday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
730,2024-12-30,Monday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
731,2024-12-31,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
732,2025-01-01,Wednesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [34]:
# Convert the 'date' column to datetime format
merged_sales_df['date'] = pd.to_datetime(merged_sales_df['date'])

In [35]:
merged_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 732 entries, 0 to 732
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               732 non-null    datetime64[ns]
 1   day                732 non-null    object
 2   gross_sales        732 non-null    float64
 3   service_charges    732 non-null    float64
 4   returns            732 non-null    float64
 5   discounts_comps    732 non-null    float64
 6   net_sales          732 non-null    float64
 7   gift_card_sales    732 non-null    float64
 8   tax                732 non-null    float64
 9   tip                732 non-null    float64
 10  refunds_by_amount  732 non-null    float64
 11  total              732 non-null    float64
 12  total_collected    732 non-null    float64
 13  cash               732 non-null    float64
 14  card               732 non-null    float64
 15  gift_card          732 non-null    float64
 16  fees               732 non-null    float64
 17  net_total          732 non-null    float64
 18  is_store_open      732 non-null    int64
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 114.4+ KB

In [36]:
merged_sales_df['service_charges'].value_counts()

service_charges
0.0     731
15.0      1
Name: count, dtype: int64

In [37]:
merged_sales_df['service_charges'].value_counts()

service_charges
0.0     731
15.0      1
Name: count, dtype: int64

In [38]:
#dropping irrelevant columns
merged_sales_df.drop(columns = ['service_charges', 'total', 'net_total'], inplace = True)

In [39]:
merged_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 732 entries, 0 to 732
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               732 non-null    datetime64[ns]
 1   day                732 non-null    object
 2   gross_sales        732 non-null    float64
 3   returns            732 non-null    float64
 4   discounts_comps    732 non-null    float64
 5   net_sales          732 non-null    float64
 6   gift_card_sales    732 non-null    float64
 7   tax                732 non-null    float64
 8   tip                732 non-null    float64
 9   refunds_by_amount  732 non-null    float64
 10  total_collected    732 non-null    float64
 11  cash               732 non-null    float64
 12  card               732 non-null    float64
 13  gift_card          732 non-null    float64
 14  fees               732 non-null    float64
 15  is_store_open      732 non-null    int64
dtypes: datetime64[ns](1), float64(13), int64(1), object(1)
memory usage: 97.2+ KB

In [42]:
# Filter rows to keep only those up to and including 2024-12-08
merged_sales_df = merged_sales_df[merged_sales_df['date'] <= '2024-12-08']

In [43]:
merged_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 708 entries, 0 to 708
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               708 non-null    datetime64[ns]
 1   day                708 non-null    object
 2   gross_sales        708 non-null    float64
 3   returns            708 non-null    float64
 4   discounts_comps    708 non-null    float64
 5   net_sales          708 non-null    float64
 6   gift_card_sales    708 non-null    float64
 7   tax                708 non-null    float64
 8   tip                708 non-null    float64
 9   refunds_by_amount  708 non-null    float64
 10  total_collected    708 non-null    float64
 11  cash               708 non-null    float64
 12  card               708 non-null    float64
 13  gift_card          708 non-null    float64
 14  fees               708 non-null    float64
 15  is_store_open      708 non-null    int64
dtypes: datetime64[ns](1), float64(13), int64(1), object(1)
memory usage: 94.0+ KB

In [44]:
# Reset the index and drop the old index
merged_sales_df.reset_index(drop=True, inplace=True)

In [45]:
merged_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               708 non-null    datetime64[ns]
 1   day                708 non-null    object
 2   gross_sales        708 non-null    float64
 3   returns            708 non-null    float64
 4   discounts_comps    708 non-null    float64
 5   net_sales          708 non-null    float64
 6   gift_card_sales    708 non-null    float64
 7   tax                708 non-null    float64
 8   tip                708 non-null    float64
 9   refunds_by_amount  708 non-null    float64
 10  total_collected    708 non-null    float64
 11  cash               708 non-null    float64
 12  card               708 non-null    float64
 13  gift_card          708 non-null    float64
 14  fees               708 non-null    float64
 15  is_store_open      708 non-null    int64
dtypes: datetime64[ns](1), float64(13), int64(1), object(1)
memory usage: 88.6+ KB

In [46]:
#save .csv file with cleaned and formatted data
merged_sales_df.to_csv('../data/clean/merged_sales.csv', index=False)